@charset "UTF-8";
@media screen and (min-width:992px) {
     /*=====================Cabeçalho=====================*/

    header{
        height: 13vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }
    header>h1{
        font-size: 2.3em;
        width: 100%;
        text-align: left;

        flex: 2;
    }
    span#burger{
        display: none;
    }
    menu{
        display: block;
        height: auto;

    }
    menu>ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;  
        flex-flow: row wrap;
        gap: 15px;
        padding: 5px 20px 0px 0px;
    }
    menu>ul>li>a{
        text-decoration: none;
        text-align: center;

        width: 125px;
        height: 55px;
        padding-top: 12px;

        flex-shrink: 1;

        background-color: #0D0D0D;
        color: yellow;
    }
    menu>ul>li{
        display: flex;
        justify-content: center;
        align-items: center;

    }


     /*=====================Pesquisa=====================*/

    div#Pesq{
        background: url("../Poster/Poster3.jpg");
        background-size: cover;

        height: 87vh;
    }
    form{
        width: 100%;
     }
     .search{
      justify-content: space-evenly;
     }
    input#caixa{
        width: 65vw;
        height: 60px;
    }
    button#int{
        height: 45px;

    }

    /*=====================Filmes=====================*/
    .movies{
        height: 255vh;
    }

    div#Filmes2025{
        height: 128vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filmesgrid{
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto ;
        width: 100%;
        height: 100%;



        justify-content: space-evenly;
        

        padding: 0px;
    }
    .filmes{
        height: 80%;
        width: 18vw;
        transition: box-shadow 0.5s;
        transition-duration: 0.5s;
    }
    .filmes>picture>img{
        width: 230px;
        height: 320px;
    }
    .filmes:hover{
        box-shadow: 0px 1px 17px gold;
    }
   

    /*=====================Lançamento=====================*/
    div#Lancamento{
        height: 46%;
    }
    div#Lancamento>h2{
        text-align: center;
        padding: 20px;
    }
    .Lanc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-around;

        height: 110vh;
    }
    .lancimg{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 88%;
    }
    .lancimg>img{
        width: 800px;
    }
    .fam{
        width: 65%;
        height: 75%;
        background-color: #0D0D0D;
        flex-direction: column;

    }
    .fam>h3{
        text-align: center;

        font-size: 1.8em;

        width: 700px;
    }
    .PLanc{
        background-color: #0D0D0D;
        width: 20%;
        height: 60%;
    }
    .PLanc>ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .PLanc>ul>li{
        padding: 12px;
        margin: 20px;

        border-bottom: 3px solid gold;
    }
    .alink{
        font-size: 1.4em;
        color: gold;
    }

    /*=====================Series=====================*/
    div#series2025{
        height: 75vh;
    }
    .serie {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        height: 86%;
    }
    .series{
        width: 17vw;
        height: 80%;

        transition: 0.5s;
    }
    .series:hover{
        box-shadow: 0px 1px 17px gold;
    }

    /*=====================Atuação=====================*/
    div#Atuacao {
        height: 90vh;
    }

    .att {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    }

    .Atores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 80%;
    margin: 12px;
    padding: 18px;
    }
    .Atores>picture{
        width: 250px;
    }
    .Atores>picture>img{
        width: 100%;
        height: 100%;
    }
    .name{
        font-size: 1.6em;
    }

     /*=====================Plataformas=====================*/

    div#Plataformas{
        display: block;
        background-color: #060606; 
        height: 50vh;
    }
    div#Plataformas>h2{
        color: gold;
        text-align: center;
        padding: 20px;
    }
    .Plata{
        height: 78.5%;
        display: flex;
        flex-flow: row nowrap;
    }
    .plat{
        width: 100%;
        height: 100%;
        background-color: #0D0D0D;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .plat>picture{
        width: 200px;
        height: 200px;
        transition: margin-bottom 0.5s, box-shadow 0.5s, border 0.3s;
        transition-duration: 0.5s;
    }
    .plat>picture:hover{
        margin-bottom: 20px;
        border: 4px solid gold;
        box-shadow: 0px 1px 17px gold;
    }
    .plat>picture>img{
        width: 100%;
        height: 100%;
    }
    /*=====================Link=====================*/
    footer#link{
    height: 50vh;
    }
    .area {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: nowrap;
    }
    .uteis,.user,.aviso{
    height: 90%;
    justify-content: space-evenly;
    }
    .aviso{
        padding-left: 20px;
        padding-right: 20px;
    }
    .text{
        font-size: 2em;
    }
    .links{
        font-size: 1.3em;
    }

}