@charset "UTF-8";
@media screen and (min-width:768px) and (max-width:992px) {
    /*=====================Cabeçalho=====================*/

    header{
        background-color: #ffa500;
        height: 18vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }
    header>h1{
        font-size: 2em;
        width: 100%;
        text-align: left;

        flex: 2;
    }
    span#burger{
        display: none;
    }
    menu{
        display: block;
        height: auto;
    }
    menu>ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;  
        flex-flow: row wrap;
        flex-wrap: wrap;
        gap: 15px;
        padding: 5px 20px 0px 0px;
    }
    menu>ul>li>a{
        text-decoration: none;
        text-align: center;
        background-color: brown;
        border: 2px solid gray;

        width: 100px;
    }
    menu>ul>li>a:hover{
        background-color: darkred;
    }
    /*=====================Pesquisa=====================*/
    input#caixa{
        width: 550px;
        height: 50px;
    }
    button#int{
        height: 45px;
    }
    /*=====================Filmes=====================*/
    div#Filmes2025{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto ;
        height: 50%;

        padding: 0px;
    }
    .filmes{
        height: 100%;
    }
    .filmes>picture>img{
    width: 220px;
    }
    /*=====================Lançamento=====================*/
    div#Lancamento{
        height: 47.2%;
    }
    div#Lancamento>h2{
        text-align: center;
        padding: 20px;
    }
    .Lanc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .fam{
        background-color: red;
        width: 70%;
        height: 64.5%;
    }
    .fam>h3{
        text-align: center;

        font-size: 1.6em;
        padding: 20px;
    }
    .PLanc{
        background-color: #ffa500;
        width: 30%;
        height: 50%;
    }
    .PLanc>ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .PLanc>ul>li{
        padding: 12px;
        margin: 20px;

        border-bottom: 3px solid black;
    }
    /*=====================Series=====================*/
    div#series2025{
        height: 130vh;
    }
    .serie{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows:  auto auto ;
        height: 92%;
    }
    .series{
        height: 100%;
    }
    .series>picture>img{
    width: 220px;
    }

    /*=====================Atuação=====================*/

    .att{
        justify-content: space-around;
    }
    .Atores{
        width: 86%;
        height: 20%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 20px;
    }
    .Atores>picture>img{
    width: 240px;
    }
    .name{
        font-size: 2em;
    }

    /*=====================Plataformas=====================*/

    div#Plataformas{
        display: block;
        background-color: #ffa500;
        height: 50vh;
    }
    div#Plataformas>h2{
        text-align: center;
        padding: 20px;
    }
    .Plata{
        background-color: pink;
        height: 78.5%;
        display: flex;
        flex-flow: row nowrap;
    }
    .plat{
        width: 100%;
        height: 100%;
        background-color: orangered;
    }

    /*=====================Link=====================*/

    footer#link{
    height: 80vh;
    }
    .area{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-around;
        
    }
    .uteis,.user{
        width: 45%;
        height: 40%;
    }
    .aviso{
        height: 40%;
        width: 100%;
    }


}