@charset "UTF-8";
@media screen and (min-width:768px) and (max-width:992px) {
    /*=====================Cabeçalho=====================*/

    header{
        height: 18vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
    }
    header>h1{
        font-size: 2em;
        width: 100%;
        text-align: left;

        flex: 2;
    }
    span#burger{
        display: none;
    }
    menu{
        display: block;
        height: auto;
    }
    menu>ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;  
        flex-flow: row wrap;
        flex-wrap: wrap;
        gap: 15px;
        padding: 5px 20px 0px 0px;
    }
    menu>ul>li>a{
        text-decoration: none;
        text-align: center;

        width: 100px;
        background-color: #0D0D0D;
        color: yellow;

        font-size: 1.3em;

    }
    /*=====================Pesquisa=====================*/
    input#caixa{
        width: 650px;
        height: 60px;
    }
    button#int{
        height: 45px;
    }
    /*=====================Filmes=====================*/
    .movies{
        height: 260vh;
    }

    div#Filmes2025{
        height: 128vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filmesgrid{
        display: grid;
        justify-content: space-around;
        align-items: center;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto ;
        width: 100%;
        height: 100%;
        padding: 0px;


        justify-content: space-evenly;
        

        padding: 0px;
    }
    .filmes{
        display: flex;
        height: 90%;
        width: 27vw;
        transition: 0.5s;
    }
    .filmes:hover{
        box-shadow: 0px 1px 17px gold;
    }
    .filmes>picture{
        width: 220px;
        height: 300px;
        background-color: red;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filmes>picture>img{
        width: 100%;
        height: 100%;
    }
    
    /*=====================Lançamento=====================*/
    div#Lancamento{
        height: 47.2%;
    }
    .Lanc{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        height: 110vh;
    }
    .lancimg{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 88%;

    }
    .lancimg>img{
        width: 700px;
    }
    .fam{
        background-color: #0D0D0D;
        width: 90%;
        height: 63.5%;
        flex-direction: column;
    }
    .fam>h3{
        text-align: center;

        font-size: 1.6em;
        width: 600px;
        padding: 20px;
    }
    .PLanc{
        background-color: #0D0D0D;
        width: 90%;
        height: 18%;
    }
    .PLanc>ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    .PLanc>ul>li{
        padding: 12px;
        margin: 20px;
        border-bottom: 4px solid yellow;

    }
    .Planc>ul>li:hover{
        background-color: gold;
        color: black;
    }
    .alink{
        width: 100%;
        color: yellow;
        font-size: 1.4em;
   }
    /*=====================Series=====================*/
    div#series2025{
        height: 130vh;
    }
    .serie{
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows:  auto auto ;
        height: 92%;
        
        align-content: space-evenly;
        justify-content: space-evenly;
    }
    .series{
        height: 55vh;
        width: 28vw;
        transition: 0.5s;
    }
    .series:hover{
        box-shadow: 0px 1px 17px gold;

    }
    .series>picture>img{
    width: 200px;
    }

    /*=====================Atuação=====================*/

    .att{
        justify-content: space-around;
    }
    .Atores{
        width: 86%;
        height: 20%;
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 20px;
    }
    .Atores>picture{
        width: 250px;
        height: 400px;
    }
    .Atores>picture>img{
        width: 100%;
        height: 100%;
    }
    .name{
        font-size: 2em;
    }

    /*=====================Plataformas=====================*/

    div#Plataformas{
        display: block;
        background-color: #060606;
        height: 50vh;
    }
    .Plata{
        height: 78.5%;
        display: flex;
        flex-flow: row nowrap;
    }
    .plat{
        width: 100%;
        height: 100%;
        background-color: #0D0D0D;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .plat>picture{
        width: 180px;
        height: 180px;
        transition: 0.5s;
    }
    .plat>picture>img{
        width: 100%;
        height: 100%;
    }
   

    /*=====================Link=====================*/

    footer#link{
    height: 80vh;
    }
    .area{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-around;
        
    }
    .uteis,.user{
        width: 45%;
        height: 40%;
    }
    .aviso{
        height: 40%;
        width: 100%;
    }
    .text{
        font-size: 1.7em;
    }

}